.header-vitrine {
  width: 100%;
  height: 60px;
  position: relative;
}

.block-header-vitrine {
  width: 30px;
  height:10px;
  background: #19a9d2;
  margin-top: 30px;
}

.box-header-lateral {
  position: absolute;
  right: 0px;
  top: -19px;
  height: 60px;
  min-width: 367px;
}

.box-header-lateral .icon-catalogo {
  width: 55px;
  float: left;
}

.box-header-lateral .item-drop-vitrine{
  color: #fff;
  font-size: 8pt;
  line-height: 30px;
  float: left;
}

.box-header-lateral .arrow-down {
  color: #d30035;
  font-size: 13pt;
  margin: 18px;
  padding: 0 15px;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-right: 1px solid rgba(255,255,255,0.3);
  float: left;
}

.box-header-lateral .icon-file {
  width: 55px;
  float: left;
}

.box-header-lateral .count-text {
  font-style: newJuneMedium;
  font-size: 9pt;
  color: #fff;
  line-height: 30px;
}

.box-title-vitrine {
  width: 100%;
  height: 80px;
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  margin-top: 35px;
}

.box-title-vitrine .title{
  font-family: newJuneMedium;
  font-size: 35pt;
  color: #fff;
  float: left;
  margin: 0px;
}

.box-title-vitrine .description{
  font-family: newJuneRegular;
  font-size: 8pt;
  width: 50%;
  margin: 20px 0px 0 40px;
  color: rgba(255,255,255,0.7);
  float: left;
}

.box-icons-vitrine {
  position: absolute;
  right: 0px;
}

.box-icons-vitrine .icon-lista {
  width: 35px;
  border: 1px solid rgba(255,255,255,0.3);
}

.box-icons-vitrine .icon-cards {
  width: 35px;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.3);
}

.box-cards-vitrine {
  width: 100%;
  margin-top: 40px;
}

.box-card-vitrine {
  width: 100%;
  max-width: 170px;
  max-height: 198px;
  position: relative;
}

.box-card-vitrine img {
  width: 100%;
}

.mask-active {
  width: 100%;
  height: 100%;
  background: linear-gradient(-120deg, rgba(0, 45, 71, 0.6), rgba(0, 45, 71, 0.7), rgba(0, 45, 71, 0.8), rgba(0, 45, 71, 0.8), rgba(0, 45, 71, 0.9), rgba(0,0,0,0.9), #000);
  /* background: linear-gradient(-120deg, rgb(42, 177, 215), rgb(0, 108, 170), rgb(0, 52, 82), rgb(6, 6, 6), rgb(6, 6, 6)); */
  position: absolute;
  top: 0px;
}

.block-mask-card {
  width: 17px;
  height:5px;
  background: #da002e;
  position: absolute;
  top: 25px;
  left: 20px;
}

.title-mask-card {
  position: absolute;
  top: 44px;
  left: 20px;
  color: #fff;
  font-size: 16pt;
  font-family: 'newJuneMedium';
  margin: 0px;
}

.subtitle-mask-card {
  position: absolute;
  top: 72px;
  left: 20px;
  color: #c30032;
  font-size: 9pt;
  font-family: 'newJuneRegular';
  margin: 0px;
}

.description-mask-card {
  position: absolute;
  top: 100px;
  left: 20px;
  color: rgba(255,255,255,0.5);
  font-size: 7pt;
  font-family: 'newJuneRegular';
  margin: 0px;
}

.count-pages-mask-cards {
  position: absolute;
  top: 140px;
  left: 40px;
  font-style: newJuneMedium;
  font-size: 7pt;
  color: #fff;
  line-height: 30px;
}

.count-pages-mask-cards span {
  color: rgba(255,255,255,0.3);
}

.icon-file-mask-cards {
  width: 60px !important;
  position: absolute;
  bottom: -15px;
  left: -5px;
}

.size-file-mask-cards {
  position: absolute;
  bottom: 0px;
  right: 30px;
  font-style: 'newJuneMedium';
  font-size: 7pt;
  color: #fff;
  line-height: 30px;
  margin: 0px;
}

.size-file-mask-cards span{
  font-size: 6pt;
  color: rgba(255,255,255,0.3);
}

.arrow-right-mask-cards {
  color: #c30032;
  font-size: 10pt;
  position: absolute;
  bottom: 9px;
  right: -25px;
}
