.header-vitrine {
  width: 100%;
  height: 60px;
  position: relative;
}

.block-header-vitrine {
  width: 30px;
  height:10px;
  background: #19a9d2;
  margin-top: 30px;
}

.box-header-lateral {
  position: absolute;
  right: 0px;
  top: -19px;
  height: 60px;
  min-width: 367px;
}

.box-header-lateral .icon-catalogo {
  width: 55px;
  float: left;
  opacity: 0;
}

.box-header-lateral .item-drop-vitrine{
  color: #fff;
  font-size: 8pt;
  line-height: 30px;
  float: left;
  opacity: 0;
}

.box-header-lateral .arrow-down {
  color: #d30035;
  font-size: 13pt;
  margin: 18px;
  padding: 0 15px;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-right: 1px solid rgba(255,255,255,0.3);
  float: left;
  opacity: 0;
}

.box-header-lateral .icon-file {
  width: 55px;
  float: left;
}

.box-header-lateral .count-text {
  font-style: newJuneMedium;
  font-size: 9pt;
  color: #fff;
  line-height: 30px;
}

.box-title-vitrine {
  width: 100%;
  height: 80px;
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  margin-top: 35px;
}

.box-title-vitrine .title{
  font-family: newJuneMedium;
  font-size: 35pt;
  color: #fff;
  float: left;
  margin: 0px;
}

.box-title-vitrine .description{
  font-family: newJuneRegular;
  font-size: 8pt;
  width: 50%;
  margin: 20px 0px 0 40px;
  color: rgba(255,255,255,0.7);
  float: left;
}

.box-icons-vitrine {
  position: absolute;
  right: 0px;
}

.box-icons-vitrine .icon-lista {
  width: 35px;
  border: 1px solid rgba(255,255,255,0.3);
  cursor: pointer;
}

.box-icons-vitrine .icon-cards {
  width: 35px;
  border: 1px solid rgba(255,255,255,0.3);
  cursor: pointer;
}

.box-icons-vitrine .icon-cards.active,
.box-icons-vitrine .icon-lista.active {
  background: rgba(255,255,255,0.3);
}
